* {
	font-family: "Lucida Grande",Verdana,sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: #eee;
	line-height: 1.5em;
	padding: 10px;
}